# ── Скопируйте этот файл в .env и заполните значения ──────────────────────

# Flask
SECRET_KEY=change-me-to-a-random-string

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/svcmgr

# Fernet — ключ шифрования паролей в БД.
# Сгенерировать: python generate_key.py
# ВАЖНО: храните ключ в безопасном месте. При его утере расшифровка невозможна.
FERNET_KEY=YrgQ42at3bwOx0jyBQpp8eL07dD4Pki87dXW3Vpb_9w=
